
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #black);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 5px solid black;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #black;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #black;
  border: solid 5px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
	background-color: #e9d9c4;
	font-family: 'Roboto', sans-serif;
}





